
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(fond/image10.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: gold;
    


}
.connexion {
    text-align: center;
    padding-top: 50px;
    color: gold;
    font-style: italic;
    text-shadow: 0 0 6px black;

}
.formulaire {
    text-align: center;
    width: 30%;
    padding: 80px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
    
}
.form1 h3 {
    text-align: center;
    color: gold;
    margin-bottom: 20px;
}
.formulaire input {
    padding: 10px;
    width:110%;
    border-radius: 5px;
    border: 1px solid gold;
    background-color: rgba(255, 255, 255, 0.1);
    color: gold;

}
.formulaire label {
    display:flex;
    padding-bottom: 10px;
    font-weight: bold;
    font-weight: bold;
    color: gold;
}
.form1 {
    padding-bottom: 40px;
}
#connecter {
    padding: 10px;
    border-radius: 5px;
    width: 60%;
    background-color: #ffd700;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    

}
#connecter:hover {
    background-color: #e6c200;
}
.click {
    text-decoration: none;
    color: #a58e0a;
}
.click:hover {
    text-decoration: underline;
    
}
.form2 {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: gold;
}
