
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.liens{
    display: flex;
    flex-direction: row-reverse;
    text-align:center;
    gap: 20px;
    margin: 10px;
    
}
.presentation{
    text-align: center;
    margin: 100px;
    padding: 100px;
}
body{
    padding: 10px;
    background-image: url(fond/port-fond1.jpg);
    
}
    .formulaire{
   padding: 10 30px;
    text-align: center;

}
.formulaire button{
    padding: 10px;
    border-radius: 35px;
    background-color: rgb(114, 205, 247);
}
